<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link
      href="/assets/vendor/fonts/circular-std/style.css"
      rel="stylesheet">
  <link rel="stylesheet"
        href="/assets/libs/css/style.css">
  <link rel="stylesheet"
        href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
  <title>멍냥북의 백오피스</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand"
         href="/mya/back-office">MYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item">
            <div id="custom-search" class="top-search-bar">
              <input class="form-control" type="text" placeholder="Search..">
            </div>
          </li>
          <li class="nav-item dropdown notification">
            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
              <li>
                <div class="notification-title"> Notification</div>
                <div class="notification-list">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-2.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jeremy Rakestraw</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-3.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">John Abraham </span>is now following
                          you
                          <div class="notification-date">2 days ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-4.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Monaan Pechi</span> is watching your
                          main repository
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-5.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jessica Caruso</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="list-footer"><a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown connection">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
              <li class="connection-list">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/github.png" alt="">
                      <span>Github</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/dribbble.png"
                                                             alt=""> <span>Dribbble</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="">
                      <span>Dropbox</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/bitbucket.png"
                                                             alt=""> <span>Bitbucket</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png"
                                                             alt=""><span>Mail chimp</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="">
                      <span>Slack</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="conntection-footer"><a href="#">More</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                 aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                <span class="status"></span><span class="ml-2">Available</span>
              </div>
              <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
              <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-1" aria-controls="submenu-1"><i
                  class="fa fa-fw fa-user-circle"></i>Dashboard <span
                  class="badge badge-success">6</span></a>
              <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                    <div id="submenu-1-2" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office">Shop Dashboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-list">상품 목록</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-save">상품 등록</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard-sales.html">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                    <div id="submenu-1-1" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-4" aria-controls="submenu-4"><i
                  class="fab fa-fw fa-wpforms"></i>Forms</a>
              <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-5" aria-controls="submenu-5"><i
                  class="fas fa-fw fa-table"></i>Admin</a>
              <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="pages/general-table.html">공지사항</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/notice">공지 사항</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/report">신고 확인</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/order">주문 현황</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h2 class="pageheader-title">상품 목록</h2>
              <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">쇼핑</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">상품 목록
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="product-thumbnail">
                  <div class="product-img-head">
                    <div class="product-img">
                      <img src="assets/images/eco-product-img-1.png" alt="" class="img-fluid"></div>
                    <div class=""><a href="#" class="product-wishlist-btn"><i
                        class="fas fa-heart"></i></a></div>
                  </div>
                  <div class="product-content">
                    <div class="product-content-head">
                      <h3 class="product-title">T-Shirt Product Title</h3>
                      <div class="product-rating d-inline-block">
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                      </div>
                      <div class="product-price">$49.00</div>
                    </div>
                    <div class="product-btn">
                      <a href="#" class="btn btn-primary">수정</a>
                      <a href="#" class="btn btn-outline-light">삭제</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="product-thumbnail">
                  <div class="product-img-head">
                    <div class="product-img">
                      <img src="assets/images/eco-product-img-2.png" alt="" class="img-fluid"></div>
                    <div class=""><a href="#" class="product-wishlist-btn"><i
                        class="fas fa-heart"></i></a></div>
                  </div>
                  <div class="product-content">
                    <div class="product-content-head">
                      <h3 class="product-title">T-Shirt Product Title</h3>
                      <div class="product-rating d-inline-block">
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                      </div>
                      <div class="product-price">$49.00</div>
                    </div>
                    <div class="product-btn">
                      <a href="#" class="btn btn-primary">수정</a>
                      <a href="#" class="btn btn-outline-light">삭제</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="product-thumbnail">
                  <div class="product-img-head">
                    <div class="product-img">
                      <img src="assets/images/eco-product-img-3.png" alt="" class="img-fluid"></div>
                    <div class=""><a href="#" class="product-wishlist-btn active"><i
                        class="fas fa-heart"></i></a></div>
                  </div>
                  <div class="product-content">
                    <div class="product-content-head">
                      <h3 class="product-title">T-Shirt Product Title</h3>
                      <div class="product-rating d-inline-block">
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                      </div>
                      <div class="product-price">$49.00</div>
                    </div>
                    <div class="product-btn">
                      <a href="#" class="btn btn-primary">수정</a>
                      <a href="#" class="btn btn-outline-light">삭제</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="product-thumbnail">
                  <div class="product-img-head">
                    <div class="product-img">
                      <img src="assets/images/eco-product-img-3.png" alt="" class="img-fluid"></div>
                    <div class=""><a href="#" class="product-wishlist-btn active"><i
                        class="fas fa-heart"></i></a></div>
                  </div>
                  <div class="product-content">
                    <div class="product-content-head">
                      <h3 class="product-title">T-Shirt Product Title</h3>
                      <div class="product-rating d-inline-block">
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                      </div>
                      <div class="product-price">$49.00</div>
                    </div>
                    <div class="product-btn">
                      <a href="#" class="btn btn-primary">수정</a>
                      <a href="#" class="btn btn-outline-light">삭제</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="product-thumbnail">
                  <div class="product-img-head">
                    <div class="product-img">
                      <img src="assets/images/eco-product-img-3.png" alt="" class="img-fluid"></div>
                    <div class=""><a href="#" class="product-wishlist-btn"><i
                        class="fas fa-heart"></i></a></div>
                  </div>
                  <div class="product-content">
                    <div class="product-content-head">
                      <h3 class="product-title">T-Shirt Product Title</h3>
                      <div class="product-rating d-inline-block">
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                        <i class="fa fa-fw fa-star"></i>
                      </div>
                      <div class="product-price">$49.00
                        <del class="product-del">$69.00</del>
                      </div>
                    </div>
                    <div class="product-btn">
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                      <a href="#" class="btn btn-outline-light">Details</a>
                      <a href="#" class="btn btn-outline-light"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="product-sidebar">
              <div class="product-sidebar-widget">
                <h4 class="mb-0">E-Commerce Filter</h4>
              </div>
              <div class="product-sidebar-widget">
                <h4 class="product-sidebar-widget-title">Category</h4>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cat-1">
                  <label class="custom-control-label" for="cat-1">Categories #1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cat-2">
                  <label class="custom-control-label" for="cat-2">Categories #2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cat-3">
                  <label class="custom-control-label" for="cat-3">Categories #3</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cat-4">
                  <label class="custom-control-label" for="cat-4">Categories #4</label>
                </div>
              </div>
              <div class="product-sidebar-widget">
                <h4 class="product-sidebar-widget-title">Price</h4>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="price-1">
                  <label class="custom-control-label" for="price-1">$$</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="price-2">
                  <label class="custom-control-label" for="price-2">$$$</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="price-3">
                  <label class="custom-control-label" for="price-3">$$$$</label>
                </div>
              </div>
              <div class="product-sidebar-widget">
                <a href="#" class="btn btn-outline-light">Reset Filter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                href="https://colorlib.com/wp/">Colorlib</a>.
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="text-md-right footer-links d-none d-sm-block">
                <a href="javascript: void(0);">About</a>
                <a href="javascript: void(0);">Support</a>
                <a href="javascript: void(0);">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
  </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script
    src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script
    src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script
    src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script
    src="/assets/libs/js/main-js.js"></script>
</body>

</html>