<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link
      href="/assets/vendor/fonts/circular-std/style.css"
      rel="stylesheet">
  <link rel="stylesheet"
        href="/assets/libs/css/style.css">
  <link rel="stylesheet"
        href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
  <title>멍냥북의 백오피스</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand"
         href="/mya/back-office">MYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item">
            <div id="custom-search" class="top-search-bar">
              <input class="form-control" type="text" placeholder="Search..">
            </div>
          </li>
          <li class="nav-item dropdown notification">
            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
              <li>
                <div class="notification-title"> Notification</div>
                <div class="notification-list">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-2.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jeremy Rakestraw</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-3.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">John Abraham </span>is now following
                          you
                          <div class="notification-date">2 days ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-4.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Monaan Pechi</span> is watching your
                          main repository
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="assets/images/avatar-5.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jessica Caruso</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="list-footer"><a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown connection">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
              <li class="connection-list">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/github.png" alt="">
                      <span>Github</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/dribbble.png"
                                                             alt=""> <span>Dribbble</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="">
                      <span>Dropbox</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/bitbucket.png"
                                                             alt=""> <span>Bitbucket</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png"
                                                             alt=""><span>Mail chimp</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="">
                      <span>Slack</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="conntection-footer"><a href="#">More</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                 aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                <span class="status"></span><span class="ml-2">Available</span>
              </div>
              <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
              <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-1" aria-controls="submenu-1"><i
                  class="fa fa-fw fa-user-circle"></i>Dashboard <span
                  class="badge badge-success">6</span></a>
              <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                    <div id="submenu-1-2" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office">Shop Dashboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-list">상품 목록</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-save">상품 등록</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard-sales.html">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                    <div id="submenu-1-1" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-4" aria-controls="submenu-4"><i
                  class="fab fa-fw fa-wpforms"></i>Forms</a>
              <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-5" aria-controls="submenu-5"><i
                  class="fas fa-fw fa-table"></i>Admin</a>
              <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="pages/general-table.html">공지사항</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/notice">공지 사항</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/report">신고 확인</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/order">주문 현황</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h2 class="pageheader-title">상품 등록</h2>
              <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">E-coommerce</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Product
                      Checkout
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h4 class="mb-0">아이템 등록</h4>
                  </div>
                  <div class="card-body">
                    <form class="needs-validation" novalidate="">
                      <div class="mb-3 custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">파일 선택</label>
                      </div>
                      <div class="mb-3">
                        <label for="address">상품 이름</label>
                        <input type="text" class="form-control" id="address"
                               placeholder="상품이름" required="">
                        <div class="invalid-feedback">
                          상품 이름을 입력해주세요
                        </div>
                      </div>
                      <div class="mb-3">
                        <label>상품 가격</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">원</span>
                          </div>
                          <input type="text" class="form-control" id="username"
                                 placeholder="상품 가격" required="">
                          <div class="invalid-feedback" style="width: 100%;">
                            상품 가격을 입력해주세요
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="description">설명</label>
                        <textarea class="form-control" id="description" rows="5"
                                  placeholder="설명을 여기에 작성하세요."></textarea>
                        <div class="invalid-feedback">
                          Please enter a valid description.
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 mb-3">
                          <label for="country">카테고리</label>
                          <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Choose...</option>
                            <option>카테고리 이넘 뭐있는지모룸</option>
                            <option>United States</option>
                            <option>United States</option>
                          </select>
                          <div class="invalid-feedback">
                            입력해주세요
                          </div>
                        </div>
                      </div>
                      <!--                      <hr class="mb-4">-->
                      <!--                      <div class="custom-control custom-checkbox">-->
                      <!--                        <input type="checkbox" class="custom-control-input" id="same-address">-->
                      <!--                        <label class="custom-control-label" for="same-address">Shipping address is-->
                      <!--                          the same as my billing address</label>-->
                      <!--                      </div>-->
                      <!--                      <hr class="mb-4">-->
                      <!--                      <h4 class="mb-3">Payment</h4>-->
                      <!--                      <div class="d-block my-3">-->
                      <!--                        <div class="custom-control custom-radio">-->
                      <!--                          <input id="credit" name="paymentMethod" type="radio"-->
                      <!--                                 class="custom-control-input" checked="" required="">-->
                      <!--                          <label class="custom-control-label" for="credit">Credit card</label>-->
                      <!--                        </div>-->
                      <!--                        <div class="custom-control custom-radio">-->
                      <!--                          <input id="debit" name="paymentMethod" type="radio"-->
                      <!--                                 class="custom-control-input" required="">-->
                      <!--                          <label class="custom-control-label" for="debit">Debit card</label>-->
                      <!--                        </div>-->
                      <!--                        <div class="custom-control custom-radio">-->
                      <!--                          <input id="paypal" name="paymentMethod" type="radio"-->
                      <!--                                 class="custom-control-input" required="">-->
                      <!--                          <label class="custom-control-label" for="paypal">PayPal</label>-->
                      <!--                        </div>-->
                      <!--                      </div>-->
                      <hr class="mb-4">
                      <button class="btn btn-primary btn-lg btn-block" type="submit">아이템 등록</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                href="https://colorlib.com/wp/">Colorlib</a>.
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="text-md-right footer-links d-none d-sm-block">
                <a href="javascript: void(0);">About</a>
                <a href="javascript: void(0);">Support</a>
                <a href="javascript: void(0);">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
  </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1  -->
<script
    src="../../../../../../../Desktop/meongnyangbook/무제%20폴더%202/mya/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js-->
<script
    src="../../../../../../../Desktop/meongnyangbook/무제%20폴더%202/mya/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js-->
<script
    src="../../../../../../../Desktop/meongnyangbook/무제%20폴더%202/mya/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js-->
<script
    src="../../../../../../../Desktop/meongnyangbook/무제%20폴더%202/mya/assets/libs/js/main-js.js"></script>
</body>


</html>