<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>신고 확인</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/libs/css/style.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css"
        href="/assets/vendor/datatables/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" type="text/css"
        href="/assets/vendor/datatables/css/buttons.bootstrap4.css">
  <link rel="stylesheet" type="text/css"
        href="/assets/vendor/datatables/css/select.bootstrap4.css">
  <link rel="stylesheet" type="text/css"
        href="/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">
</head>
<script th:inline="javascript" src="/js/report.js"></script>
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" href="/mya/back-office">MYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item">
            <div id="custom-search" class="top-search-bar">
              <input class="form-control" type="text" placeholder="Search..">
            </div>
          </li>
          <li class="nav-item dropdown notification">
            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
              <li>
                <div class="notification-title"> Notification</div>
                <div class="notification-list">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="../assets/images/avatar-2.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jeremy Rakestraw</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="../assets/images/avatar-3.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">
John Abraham</span>is now following you
                          <div class="notification-date">2 days ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="../assets/images/avatar-4.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Monaan Pechi</span> is watching your
                          main repository
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img
                            src="../assets/images/avatar-5.jpg" alt=""
                            class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span
                            class="notification-list-user-name">Jessica Caruso</span>accepted your
                          invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="list-footer"><a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown connection">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
              <li class="connection-list">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/github.png"
                                                             alt=""> <span>Github</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/dribbble.png"
                                                             alt=""> <span>Dribbble</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/dropbox.png"
                                                             alt=""> <span>Dropbox</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/bitbucket.png"
                                                             alt=""> <span>Bitbucket</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/mail_chimp.png"
                                                             alt=""><span>Mail chimp</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="../assets/images/slack.png"
                                                             alt=""> <span>Slack</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="conntection-footer"><a href="#">More</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                src="../assets/images/avatar-1.jpg" alt=""
                class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                 aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">
                  John Abraham</h5>
                <span class="status"></span><span class="ml-2">Available</span>
              </div>
              <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
              <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">
              Menu
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-1" aria-controls="submenu-1"><i
                  class="fa fa-fw fa-user-circle"></i>Dashboard <span
                  class="badge badge-success">6</span></a>
              <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                    <div id="submenu-1-2" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office">Shop Dashboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-list">상품 목록</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mya/back-office/item-save">상품 등록</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard-sales.html">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                       data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                    <div id="submenu-1-1" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-4" aria-controls="submenu-4"><i
                  class="fab fa-fw fa-wpforms"></i>Forms</a>
              <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                 data-target="#submenu-5" aria-controls="submenu-5"><i
                  class="fas fa-fw fa-table"></i>Admin</a>
              <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="pages/general-table.html">공지사항</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/notice">공지 사항</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mya/back-office/report">신고 확인</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
      <!-- ============================================================== -->
      <!-- pageheader -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">신고 목록</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta,
              fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader -->
      <!-- ============================================================== -->
      <div class="row">
        <!-- ============================================================== -->
        <!-- basic table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">Basic Table</h5>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered first">
                  <thead>
                  <tr>
                    <th>신고 번호</th>
                    <th>신고한 유저</th>
                    <th>신고 내용</th>
                    <th>신고당한 유저</th>
                    <th>신고 유형</th>
                    <th>신고 날짜</th>
                    <th>영구정지 및 삭제</th>
                  </tr>
                  </thead>
                  <tbody id="report_info_table">

                  <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    <td>2008/11/13</td>
                    <td>$183,000</td>
                    <td>
                      <button onclick="blockUser()" class="btn btn-outline-primary rounded">영구정지
                      </button>
                      <button onclick="deleteReport()" class="btn btn-outline-primary rounded">삭제
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    <td>2008/11/13</td>
                    <td>$183,000</td>
                    <td>
                      <button onclick="blockUser()" class="btn btn-outline-primary rounded">영구정지
                      </button>
                      <button onclick="deleteReport()" class="btn btn-outline-primary rounded">삭제
                      </button>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>신고 번호</th>
                    <th>신고한 유저</th>
                    <th>신고 내용</th>
                    <th>신고당한 유저</th>
                    <th>신고 유형</th>
                    <th>신고 날짜</th>
                    <th>영구정지 및 삭제</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-primary ml-auto rounded">등록</button>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            Copyright © 2018 Concept. All rights reserved. Dashboard by <a
              href="https://colorlib.com/wp/">Colorlib</a>.
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="text-md-right footer-links d-none d-sm-block">
              <a href="javascript: void(0);">About</a>
              <a href="javascript: void(0);">Support</a>
              <a href="javascript: void(0);">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
  </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/vendor/multi-select/js/jquery.multi-select.js"></script>
<script src="/assets/libs/js/main-js.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/vendor/datatables/js/data-table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script
    src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

</body>

</html>