<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>멍냥북</title>
  <link rel="icon" href="/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/post-add.css"/>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>

  <!-- js Cookie -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <!--  <script th:inline="javascript" src="/js/post-add.js"></script>-->

  <script th:inline="javascript" src="/js/post-community-update.js"></script>

  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <style>
    /*li {*/
    /*  list-style: none;*/
    /*}*/
    @font-face {
      font-family: 'Cafe24Supermagic-Bold-v1.0';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
    }

    body {
      font-family: "Cafe24Supermagic-Bold-v1.0", sans-serif
    }

    .middle_Top {
      width: 600px;
      border-bottom: 1px solid lightgrey;

    }

    .middle_Top .my_photo {
      width: 40px;
      height: 40px;
      border-radius: 3rem;
      float: left;
      position: absolute;
      left: 1%;
      top: 1%;
    }

    .middle_Top .my_account {
      width: 90px;
      display: inline-block;
      font-weight: bold;
    }

    .middle_Top .my_account a {
      color: black;
      position: absolute;
      left: 10%;
      top: 2%;
    }


    .btn {
      display: inline-block;
      position: absolute;
      background-color: #cccccc;

      padding: 10px;
      color: #ffffff;
    }

    .prevBtn {
      top: 35%;
      left: 0;
    }

    .nextBtn {
      top: 35%;
      right: 0;
    }
  </style>
</head>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>멍냥북에 오신 것을 환영합니다 !</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              <a id="login-text" href="/mya/view/users/sign-in">Sign in</a>
              <a id="logout-text"
                 href="javascript:logout()">Log Out</a>
              <!--              <a href="#">FAQs</a>-->
            </div>
            <div class="header__top__links">
              <a id="mypage-text" href="/mya/view/users/my-profile">My Profile</a>
              <!--              <a href="#">FAQs</a>-->
            </div>

            <!--            <div class="header__top__hover">-->
            <!--              <span>Usd <i class="arrow_carrot-down"></i></span>-->
            <!--              <ul>-->
            <!--                <li>USD</li>-->
            <!--                <li>EUR</li>-->
            <!--                <li>USD</li>-->
            <!--              </ul>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="/img/logo.png" alt="" style="max-width: 130px"></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/mya/view/items">상점</a></li>
            <li class="active"><a href="/mya/view/post/community">커뮤니티</a></li>
            <li><a href="/mya/view/post/adoptions">분양</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <!--          header__nav__option-->
          <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
          <!--          <a href="#"><img src="/image/icon/heart.png" alt=""></a>-->
          <a href="/mya/view/basket"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
          <a href="/mya/view/chat"><img src="/img/icon/messages.png" alt=""
                                        style="width: 18px; height: 18px"> <span></span></a>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->


<body>
<div class="container">
  <div class="box">
    <div class="bigbox" style="top: 50%; /* 화면 상단으로부터 50% 떨어져 있습니다. */
                               left: 50%; /* 화면 왼쪽으로부터 50% 떨어져 있습니다. */">
      <!-- 섬네일은 아래 주소 참고 -->
      <!-- https://medium.com/@asadise/create-thumbnail-for-an-image-in-spring-framework-49776c873ea1 -->
      <form class="upload__form" id="uploadForm">
        <table class="table">
          <tr>
            <td style="height: 500px;">
              <div class="slide" style="width: 500px; height: 500px; overflow: hidden;">
                <div class="img_wrap" id="my_div">

                </div>
              </div>
              <div style="border-top: 1px solid lightgrey;">
                <input id="multipartFiles" type="file" name="fileName" multiple
                       placeholder="사진파일" required
                       style="display: none;"/>
                <input type="image" src="/img/icon/save.png" onclick="handleInputClick(event)"
                       style="height: 30px; position: relative; left: 270px; top: 10px; bottom: 10px;"/>
              </div>
            </td>
            <a class="btn prevBtn">Prev</a>
            <a class="btn nextBtn">Next</a>
          </tr>
          <tr>
            <td>
              <div>
                <input class="title" type="text" name="title" id="communityTitle" value=""
                       placeholder="title"
                       style="width: 500px">
              </div>
              <textarea type="text" name="description" id="communityDescription"
                        class="image_upload_textarea"
                        placeholder="문구입력..."></textarea>
            </td>
          </tr>
        </table>
        <input type="button" onclick="uploadData()" value="업로드"/>
      </form>
    </div>
  </div>
</div>


</body>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</html>