<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>TDL</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/post-add.css"/>
  <script src="/js/token.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>

  <!-- js Cookie -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <!--  <script th:inline="javascript" src="/js/post-add.js"></script>-->

  <script th:inline="javascript" src="/js/post-adoptions-update.js"></script>
  <style>
    /*li {*/
    /*  list-style: none;*/
    /*}*/

    .middle_Top {
      width: 600px;
      border-bottom: 1px solid lightgrey;

    }

    .middle_Top .my_photo {
      width: 40px;
      height: 40px;
      border-radius: 3rem;
      float: left;
      position: absolute;
      left: 1%;
      top: 1%;
    }

    .middle_Top .my_account {
      width: 90px;
      display: inline-block;
      font-weight: bold;
    }

    .middle_Top .my_account a {
      color: black;
      position: absolute;
      left: 10%;
      top: 2%;
    }


    .btn {
      display: inline-block;
      position: absolute;
      background-color: #cccccc;

      padding: 10px;
      color: #ffffff;
    }

    .prevBtn {
      top: 35%;
      left: 0;
    }

    .nextBtn {
      top: 35%;
      right: 0;
    }
  </style>
</head>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container-header">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>Free shipping, 30-day return or refund guarantee.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              <a id="login-text" href="/mya/view/users/sign-in">Sign in</a>
              <a id="logout-text"
                 href="javascript:logout()">Log Out</a>
              <!--              <a href="#">FAQs</a>-->
            </div>
            <div class="header__top__links">
              <a id="mypage-text" href="/mya/view/users/my-profile">My Profile</a>
              <!--              <a href="#">FAQs</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-header">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/mya/view/items">상점</a></li>
            <li><a href="/mya/view/post/community">커뮤니티</a></li>
            <li class="active"><a href="/mya/view/post/adoptions">분양</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
          <a href="#"><img src="/img/icon/heart.png" alt=""></a>
          <a href="#"><img src="/image/icon/cart.png" alt=""> <span>0</span></a>
          <div class="price">$0.00</div>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>


<body>
<div class="container">
  <div class="box">
    <div class="bigbox">
      <!-- 섬네일은 아래 주소 참고 -->
      <!-- https://medium.com/@asadise/create-thumbnail-for-an-image-in-spring-framework-49776c873ea1 -->
      <form class="upload__form" id="uploadForm">
        <table class="table">
          <tr>
            <td style="height: 500px;">
              <div class="slide" style="width: 500px; height: 500px; overflow: hidden;">
                <div class="img_wrap" id="my_div">

                </div>
              </div>
              <div style="border-top: 1px solid lightgrey;">
                <input id="multipartFiles" type="file" name="fileName" multiple
                       placeholder="사진파일" required
                       style="display: none;"/>
                <input type="image" src="/images/files.png" onclick="handleInputClick(event)"
                       style="height: 30px; position: relative; left: 270px; top: 10px; bottom: 10px;"/>
              </div>
            </td>
            <a class="btn prevBtn">Prev</a>
            <a class="btn nextBtn">Next</a>
          </tr>
          <tr>
            <td>
              <div>
                <input class="title" type="text" name="title" id="adoptionsTitle" value="My Title"
                       placeholder="title"
                       style="width: 500px">
              </div>
              <textarea type="text" name="description" id="adoptionsDescription"
                        class="image_upload_textarea"
                        placeholder="문구입력..."></textarea>
              <input class="animal-name" type="text" name="animal-name" id="animal-name" value=""
                     placeholder="animalName"
                     style="width: 500px">

              <select class="animal-sex" name="animal-sex" id="animal-gender" style="width: 90%">
                <option value="">성별 선택</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
              </select>
              <input class="animal-age" type="text" name="animal-age" id="animal-age" value=""
                     placeholder="animalAge"
                     style="width: 500px">
              <select class="animal-address" name="animal-address" id="animal-address"
                      style="width: 90%">
                <option value="">지역 선택</option>
                <option value="SEOUL">서울특별시</option>
                <option value="BUSAN">부산광역시</option>
                <option value="DAEGU">대구광역시</option>
                <option value="INCHEON">인천광역시</option>
                <option value="GWANGJU">광주광역시</option>
                <option value="DAEGEON">대전광역시</option>
                <option value="ULSAN">울산광역시</option>
                <option value="SEJONG">세종특별자치시</option>
                <option value="JEJU">제주특별자치도</option>
              </select>
              <select class="animal-category" name="animal-category" id="animal-category"
                      style="width: 90%">
                <option value="">동물 선택</option>
                <option value="CAT">CAT</option>
                <option value="DOG">DOG</option>
              </select>
            </td>
          </tr>
        </table>
        <input type="button" onclick="uploadData()" value="업로드"/>
      </form>
    </div>
  </div>
</div>


</body>

</html>